*{
    overflow: hidden;
}

.container{
    display:flex;
    flex-direction: row;
}


.logo-background{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 200px;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: -1vw;
    margin-top: 12.5vh;
    z-index: 10;
}

.logo-text{
    font-family: 'Monoton', cursive;
    font-size: 100px;
    opacity: 1;
    color: #f0f0f0;
}

.img-credits{
    margin-top: 95vh;
    margin-bottom: 5vh;
    margin-left: 2.5vw;
    color: white;
    position: fixed;
    font: 1em sans-serif;
    z-index: 10;
    margin-bottom: 5vh;
}

.image-left{
    position: fixed;
    margin-top: -8px;
    margin-left: -1vw;
    margin-bottom: -10px;
    max-width: 40vw;
    max-height: 100vh;
}

.sign-up-right{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    margin-left: 39vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.enticing-text{
    height: 40vh;
    width: 61vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container{
    font-size: 20px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 25px;
}

.sign-up-form{
    padding-left: 100px;
    padding-right: 100px;
    background-color: #f7f7f7;
    height: 40vh;
    width: 61vw;
    display: flex;
    align-items: center;
}

form{
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    justify-content: space-evenly;
    align-items: right;
}

form input{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    height: 20px;
}

input:focus{
    outline: none;
    border: 1px solid #75a0e6;
}

.form-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 100px
}

.form-right label{
    margin-top: 50px;
}

.form-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10vw;
}

.form-left label{
    margin-top: 50px;
}

span{
    position: relative;
}

.account-buttons{
    padding-top: 25px;
    padding-left: 100px;
    height: 20vh;
    width: 61vw;
}

.create-button{
    font-size: 25px;
    width: 200px;
    height: 50px;
    color:white;
    background-color: #75a0e6;
    border-radius: 30px;
    border: 3px solid lightgray;
    cursor: pointer;
}